body {
  height: 100%;
}

#countdown {
  font-size: 8em;
  margin-top: 25%;
  color: white;
}

#countdown-container {
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  position: absolute;
  text-align: center;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.nope {
  display: none;
}

.big-text {
  font-size: 10em !important;
}

.middle-text {
  font-size: 4em !important;
}

.mdl-grid, .mdl-cell {
  height: 100%;
}